body {
    padding-left: 11em;
    padding-right : 11em;
    font-family: Arial, "Times New Roman", Times, serif;
    color: black;
    background-color: azure;
    text-align: justify;
}

.texteAccueil{
    font-family: Arial, "Times New Roman", Times, serif;
    color: black;
    background-color: azure
}

a{
    color:darkblue;
}

h2{
    font-size: large;
    font-family: Trebuchet MS;
    color: darkblue   
}

h1{
    font-family: Arial;
    text-align: center
}
  
.connect {
    position : absolute;
    top : 1em;
    right : 9em;
    display: inline;
}

footer {
    margin-top: 1em;
    padding-top: 1em;
    font-style: italic
 }
 
 a:hover{
     color: slateblue
 }
 
 a:visited{
     color: grey
 }
 
 #onglets
{
    font : bold 11px Batang, Trebuchet MS;
    list-style-type : none;
    padding-bottom : 24px; /* Ã  modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 2px solid gray;
    margin-left : 0;
}
 
#onglets li
{
    float : left;
    height : 21px; /* Ã  modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: azure;
    margin : 0px 5px 0 5px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid grey;
}
  
#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}

#onglets a:hover
{
    background : #fff;
}


